*{
    padding: 0;
    margin: 0;
}

body{
    background: #fff;
    overflow-x: hidden;
}

.complete-nav{
    box-shadow:-1px 0px 5px 1px #8080806b;
    padding-bottom: 15px;
}

.head-logo{
    padding: 15px 0px 0px 30px;
}

.nav-head{
    font-weight: 700;
    text-transform:uppercase;
}

.navbar-left ul li a{
    color: #000;
}

.navbar-left ul li a:hover{
    color: #0f853a
}

.navbar-right{
    display: flex;
    justify-content: space-between;
}

.location-icon{
    color: #000;
}

.find-store{
    font-weight: 600;
}

.hover-effect:hover .location-icon,
.hover-effect:hover .find-store {
    color: #0f853a;
}

.navbar-sign{
    border: 1.7px solid;
    padding: 3px 14px;
    border-radius: 20px;
    font-weight: 600;
    font-size: .9em;
}

.navbar-sign:hover{
    background: #e2dede;
}

.navbar-join{
    font-weight: 600;
    background: #000;
    color: #fff;
    padding: 3px 14px;
    border-radius: 20px;
    border: none;
}

.navbar-join:hover{
    background: #443a3a;
}

.navbar-collapse.show .sign{
    float: right;
}

.banner-image{
    background-color: #d6ddc7;
} 

.banner-content{
    background-color: #d6ddc7;
    color: #32472f;
    line-height: 1.2;
}

.banner-head-div{
    width: 520px;
}

.banner-head-div p{
    padding: 20px;
}

.banner-head{
    font-size: 49px;
    letter-spacing: 2px;
}

.add-banner{
    border: 1.7px solid #32472f;
    padding: 3px 14px;
    color: #32472f;
    font-weight: 600;
    font-size: 1.1rem;
    background: #d6ddc7;
}

.banner2{
    background-color: #5f4633;
    color: #fff;
}

.add-banner:hover{
    background: #cdcec9;
}

.join-banner{
    border: 1.7px solid #fff;
    padding: 3px 14px;
    color: #ffff;
    font-weight: 600;
    font-size: 1.1rem;
    background:  #5f4633;
}

.sections-3{
    display: flex;
    justify-content: center;
    padding: 0 200px;
}

.join-banner:hover{
    background:  #413023;
}


/* resposnsive */
@media screen and (max-width:991px) {
    .banner-head-div{
        width: 100%;
        padding: 0 7px 20px 7px;
    }

    .banner-head{
        font-size: 35px;
    }
}

.navbar-collapse.show .nav-link.nav-head {
    font-weight: 400;
    text-transform:capitalize;
    font-size: 20px;
}

@media (min-width: 992px) {
    .collapse {
        display: block !important;
        visibility: visible;
    }

    .footer-heading {
        cursor: default; 
    }

    .fa-regular.fa-chevron-down{
        display: none;
    }
}

@media (max-width: 991px) {

    .collapse {
        display: none; 
    }

    .collapse.show {
        display: block;
    }

    .footer-heading {
        cursor: pointer; 
    }
}